
.photo-grid__body {
  display: grid;
  max-width: 1280px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 16px;
  margin: 92px auto 48px;
}



@media screen and (max-width: 1279px) {
  .photo-grid__body {
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__body {
    gap: 16px;
    margin: 88px 24px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__body {
    gap: 12px;
    margin: 64px 16px 0px 16px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
